<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Eufraten Trello</title>

<link rel="shortcut icon" href="/favicon.ico"
	type="image/vnd.microsoft.icon" />

<!-- Bootstrap -->
<link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="jumbotron.css" rel="stylesheet" />

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<!-- Trello API -->
<script
	src="https://trello.com/1/client.js?key=b4cd0ee6e6058de673f33c9ab61de387"></script>

</head>
<body>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container jumbotron__container">
			<h1>Eufraten | Painel de manutenção</h1>
			<p>Esse é o painel de ordens de serviço e relatórios de
				manutenção da fundação Eufraten.</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2>Gerar ordem de serviço</h2>
				<p>Gera o relatório de ordem de serviço e anexa-o ao cartão do
					Trello.</p>
				<div id="alert-mensagemAutorizacao"
					class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>
					<p>Ao carregar as ordens de serviço você deve autorizar o
						Trello na janela que será aberta!</p>
					<p>
						Selecione a opção <strong>Login com Google</strong> e utilize seu
						<strong>e-mail da Fundação Eufraten</strong>.
					</p>
					<button id="btn-carregarNovamente" type="button">Carregar
						novamente</button>
				</div>
				<form action="/gerarOS" method="POST" target="_blank">
					<p>
						<select name="cardId" id="select-gerarOS" data-select2="true">
							<option value="">Carregando...</option>
						</select>
					</p>
					<p>
						<button type="submit" id="btn-gerarOS" disabled="disabled"
							class="btn btn-primary">Gerar OS &raquo;</button>
					</p>
				</form>
			</div>
		</div>
		<hr />

		<footer>
			<p>&copy; 2017 Fundação Eufraten.</p>
		</footer>
	</div>
	<script src="index.js"></script>
</body>
</html>